.catalogo {
    .content {
        margin-bottom: 10px;
        border: 1px solid rgba(0,0,0,.1);
        overflow: hidden;
        padding: 5px;

        .title {
            text-align: center;
            //border-bottom: 1px solid rgba(0,0,0,.1);
            padding: 7px;
            font-weight: bold;
        }

        .switch-cat {
            text-align: right;
            padding: 5px 10px 7px 0px;
        }
        .field-cat {
            padding: 7px;
            border: 1px dotted rgba(0,0,0,.15);
        }

        .cat {
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            position: relative;
      
            &.show {
              animation-name: show;
      
              @keyframes show {
                from {
                  margin-top: -100px;
                }
      
                to {
                  margin-top: 0;
                }
              }
            }
      
            &.hide {
              animation-name: hide;
              display: none;
      
              @keyframes hide {
                from {
                  margin-top: 0;
                }
      
                to {
                  margin-top: -100px;
                }
              }
            }
        }
    }
    
}