.form-declaration {
    margin: 10px;
    padding-top: 10px;
    border: 1px solid rgba(0,0,0,.1);
    
    .form-header {
        background-color: #fff;
        padding-left: 20px;
        padding-bottom: 10px;
        .form-title {
        }
    }
    .form-content {
        padding-top: 5px;
        background-color: rgba(0,0,0,.04);
    }

    .section-content {
        border: unset;
    }

    .form-actions {
        padding:20px;
        
        .ant-col {
            text-align: right;
        }
    }

    .has-errors-fieldset {
        padding: 3px;
        background-color: rgba(255,0,0,.06);
        color: red;
    }
}

.notif-error-required-fields {
    //width: 650px;
    .ant-notification-notice-description1 {
        p {
            margin-bottom: 5px;
        }
    }
    //background-color: red;
}
