.preview-section-modal {
    width: 1100px !important;
    background: #fff;
    border-radius: 5px !important;
    overflow: hidden !important;
    -webkit-box-shadow: 0px 0px 79px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 79px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 79px -5px rgba(0,0,0,0.75);
    position: relative;
    padding: 0px;

    .ant-modal-close {
        //color: rgba(255, 255, 255, 1);
        span {
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
    }

    .top-bar {
        padding: 10px;
        color: rgba(0, 0, 0, .7);
        font-weight: bold;
        height: 40px;
        background-color: rgba(0,0,255,.1);
    }

    .ant-modal-body {
        overflow: hidden;
        padding: 0px;
    }
}
.section-content {
    margin: 5px;
    padding: 0px 15px 0px 15px;
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.65);

    .section-title {
        background-color: rgba(0,0,0,.2);
        padding-left: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .section-body {
        padding: 10px;
    }

    &.mode-pdf {
        input{ 
            background-color: white;
        }
    }
}
