.section-edit {
    .row-component-section {
        margin-bottom: 5px;

        &.row-FIELD {
            border: 1px solid rgba(0,0,0,.1);
            padding: 5px;
        }

        .header-section-component-custom {
            background-color: rgba(255,255,255,.8);
            padding: 3px 10px 3px 10px;
            border: 1px solid rgba(0,0,0,0.1);

            .tools-section-component-custom {
                text-align: right;
            }
        }
    }
    .tools {
        text-align: right;

        button {
            margin-left: 5px;
        }
    }
    .catalogos {
        border: 1px solid rgba(0,0,0,.2);
        padding: 5px;
        margin-bottom: 10px;
    }
    .section-components {
        border: 1px solid rgba(0,0,0,.2);
        padding: 5px;
        margin-bottom: 5px;
    }

    .custom-tools {
        border: 2px solid rgba(0,0,0,.2);
        margin-bottom: 5px;
        text-align: center;

        .custom-tools-group {
            display: inline-block;
            height: 75px;

            .overlayExample {
                z-index: 14000;
                position: absolute;
                background-color:rgba(255,255,255,.9);
                width: 600px;
                min-height: 200px;
                top: 80px;
                margin-left: -90px;
                border-radius: 10px;
                border: 2px solid rgba(0,0,0,0.1);
                padding: 5px;
                text-align: left;

                .explain-component {
                    padding: 5px;
                    border: 1px solid rgba(0,0,0,.1);
                }
                .component-example {
                    padding: 5px;
                    margin-top: 5px;
                    border: 1px solid rgba(0,0,0,.1);
                }
            }
    
            .tool-custom-component {
                width: 60px;
                height: 60px;
                float: left;
                margin: 10px 10px 5px 10px;
                border: 3px solid rgba(0,0,200,.1);
                background-color: rgba(132, 132, 236, 0.1);
                border-radius: 10px;
                position: relative;

                span{ 
                    display: block;
                    margin-top: 5px;
                    font-size: 30px;
                    font-weight: bold;
                    color: rgba(200,0,0,.6);
                }

                .anticon {
                    display: none;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    font-size: 35px;
                    color: rgba(0,0,0,.1);
                }

                &:hover {
                    margin-top: 5px;
                    width: 70px;
                    height: 70px;
                    cursor: pointer;

                    .anticon {
                        display: block;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }
    }
}
