.section-edit {
    .row-component-section {
        margin-bottom: 5px;

        &.row-FIELD {
            border: 1px solid rgba(0,0,0,.1);
            padding: 5px;
        }
    }
    .tools {
        text-align: right;

        button {
            margin-left: 5px;
        }
    }
    .catalogos {
        border: 1px solid rgba(0,0,0,.2);
        padding: 5px;
        margin-bottom: 10px;
    }
    .section-components {
        border: 1px solid rgba(0,0,0,.2);
        padding: 5px;
        margin-bottom: 5px;
    }
}
